six==1.13.0
lime==0.1.1.37
tensorboard==2.0.2
tensorflow_gpu==2.0.0
pandas==0.25.3
matplotlib==3.1.1
tqdm==4.40.2
dill==0.3.1.1
category_encoders==2.1.0
imbalanced_learn==0.6.1
scipy==1.4.1
numpy==1.17.4
imblearn==0.0
PyYAML==5.3
scikit_learn==0.22.1
tensorflow==2.1.0
